body{
    background-color: #181d20;
}
.row {
    display: flex;
  }

.column {
    flex: 25%;
    padding: 5px;

}

#rentrertrame {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
#ChoisirCanal{
    width: 40px;
    height: 20px;
    font-size: 20px;
}
#scrolllist{
    display: flex;
    flex-direction: row;
}
/* Ajout de règles spécifiques pour les éléments de la page */
label#Principal {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 10px 0px 10px;
    color: rgb(231, 165, 165);
}
label#Secondaire {
    font-size: 20px;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 10px 0px 10px;
    color: #ffffff;
}
#edit {
    width: 41%;
    height: 50px;
    font-size: 40px;
    border-radius: 15px;
    
    
      }
#button {
    margin-top: 20px;
    width: 90px;
    height: 25px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button:hover {
    background-color: #0056b3;
}

/* Style de base pour les spans */
span {
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: table;
    margin: 0 auto;
}

/* Style pour les spans ayant la classe "vert" */
span.vert {
    color: green;
    background-color: #e0f0e0;
}

/* Style pour les spans ayant la classe "rouge" */
span.rouge {
    color: red;
    background-color: #f0e0e0;
}

/* Style pour les spans ID=longueur */
span#longueur {
    font-size: 24px;
    text-decoration: underline;
}

/* Style pour les spans ID=hexa */
span#hexa {
    font-size: 24px;
    text-decoration: underline;
}
input.scrollbar {
    -webkit-appearance: slider-vertical;
    }
#fullon,#fulloff{

    width: 110px;
    height: 45px;
    background-color: rgb(83, 7, 7);
    color: #f4ee95;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    float: right;
    clear: both;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
header{
    font-size: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}
footer{
    height: auto;
    display: flex;
    background-color: #f4ee95;
}
#foot{
    margin-left: 440px;
    font-size: 20px;
}
